
.card ul{
  padding-left: 2rem;
}

.card ul li{
  list-style: circle;
}

.card {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1rem;
    background-color:rgb(152, 197, 197);
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-inline: 2px 2px 2px 2px;
  }